<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>



<form method="POST" action="/projects/<%= project.id %>"> 
  
  <select name="category" id="category">
   <% categories.forEach(function(category){%> 
     <option value="<%= category.name %>"><%= category.name %></option>
   <% }) %>  
      
  </select>
  <button type="submit" class="submit"> Add Category</button>
</form>


<p><%= project.description %></p>


<button> <a href="/projects/edit/<%= project.id %> ">Edit</a> </button>

<form method="POST" action="/projects/<%= project.id %>/?_method=DELETE">
  <button type="submit" class="btn btn-danger"> Delete </button>

</form>

<hr />

<a href="/">&larr; Back Home</a>
